<!DOCTYPE html>
<html ng-app="MyFirstApp">
<head>
    <meta charset="UTF-8">
    <title>Hola Mundo Angular</title>

    <script src="controller.js"></script>
    <link rel="stylesheet" href="bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <!-- Before body closing tag -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/velocity/velocity.js"></script>
    <script src="bower_components/moment/min/moment-with-locales.js"></script>
    <!--<script src="bower_components/angular/angular.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="bower_components/lumx/dist/lumx.js"></script>
    <script src="controller.js"></script>

</head>
<body  ng-controller="FirstController">


<!--
<ul>
    <li class="list-row list-row--has-separator" ng-repeat="dato in datos">
        <div class="list-row__content">
        {{dato.id}} -- {{dato.nombre}}
        </div>
    </li>
</ul>-->
<div class="tc-white-1 p+" flex-container="row" flex-column="12">
    <div flex-item="3"><div class="p+ bgc-red-500">[flex-item="3"]</div></div>

    <div flex-item="5"><div class="p+ bgc-brown-700"><div class="data-table-container">
        <header class="data-table-header">
            <div class="data-table-header__label">
                <span class="fs-title"><h3>Registro de Empleados</h3></span>
            </div>

            <div class="data-table-header__actions">
                <lx-button lx-size="l" lx-color="black" lx-type="icon">
                    <i class="mdi mdi-filter-variant"></i>
                </lx-button>

                <lx-dropdown lx-position="right" lx-over-toggle="true">
                    <lx-dropdown-toggle>
                        <lx-button lx-size="l" lx-color="black" lx-type="icon">
                            <i class="mdi mdi-dots-vertical"></i>
                        </lx-button>
                        <lx-dropdown-toggle>

                            <lx-dropdown-menu>
                                <ul>
                                    <li><a class="dropdown-link">Action</a></li>
                                    <li><a class="dropdown-link">Another action</a></li>
                                    <li><a class="dropdown-link">Something else here</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li><a class="dropdown-link dropdown-link--is-header">Header</a></li>
                                    <li><a class="dropdown-link">Separated link</a></li>
                                </ul>
                            </lx-dropdown-menu>
                </lx-dropdown>
            </div>
        </header>

        <table class="data-table">
            <thead>
            <tr>
                <th><h2>ID</h2></th>
                <th><h2>Nombres</h2></th>
                <th><h2>Apellidos</h2></th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="dato in datos">
                <td>{{dato.id}}</td>
                <td>{{dato.nombre}}</td>
                <td>{{dato.apellido}}</td>
            </tr>

            </tbody>
        </table>
    </div>




    </div></div>


    <div flex-item="4"><div class="p+ bgc-green-500">[flex-item="4"]</div></div>
</div>


</body>
</html>